.image12 {
  text-align: center;
  width: 70%;
}

.text {
  color: $granite-gray;
  font-size: $medium;
  font-weight: $extra-light;
}

.text1 {
  color: $white;
  font-size: $medium;
  font-weight: $extra-light;
}

.text1-gray {
  color: $granite-gray;
}

.subtitle {
  color: $white;
  font-size: $large;
  font-weight: $bold;
}

.subtitle-gray {
  color: $granite-gray;
}

.main__container {
  background-color: $jelly-bean;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

}

.main__container1 {
  background-color: $granite-gray;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  color: $white;

}

.main__container2 {
  background-color: $snow;
  color: $granite-gray;

}

.main__container3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main__container4 {
  background-color: $white;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 40px;

}

.image34 {
  width: 50%;
}

.main__title {
  font-size: $large;
  color: $white;
  font-weight: $extra-light;

}

.main__title-emphasis {
  font-weight: $bold;
}
